<ul id="direct_messages">
	<% direct_messages.each do |dm| %>
	<li>
		<div class="dm-profile-pics profile-image"><%= twitter_user_profile_image(dm.sender)%>
			<%= twitter_user_profile_image(dm.recipient, :class => 'dm-recipient') %>
		</div>
		<h3><%= twitter_user_link(dm.sender) %></h3>
		<p><strong>@<%= dm.recipient.screen_name %>:</strong> <%= auto_link(dm.text) %></p>
		<p class="status-time">sent <%= h friendly_time(dm.created_at) %></p>
		<p class="birdherd-user"><%= "posted by: #{h dm.birdherd_user.login}" unless dm.birdherd_user.nil?%></p>
	</li>
	<% end -%>
</ul>