<li class="tweet<%= message_status_classes(message, html_class) %>">
<%= twitter_user_profile_image(message.sender)%>
<%= twitter_user_profile_image(message.recipient, :class => 'dm-recipient') %>
<h4 class="sender" title="@<%= message.sender.screen_name %>"><%= twitter_user_link(message.sender) %> -> <%= twitter_user_link(message.recipient) %></h4>
<p class="text"><%= auto_link(message.text) %></p>

<p class="time">posted <%= friendly_time(message.created_at) %></p>

<ul class="birdherd-info">
	<% unless message.birdherd_user.nil? -%>
		<li class="posted-by">Posted by: <%= "#{h message.birdherd_user.login} (#{message.birdherd_user.email})" %></li>
	<% end -%>
	<% unless reply_users_string(message).blank? %>
		<li class="replied-by">Replied by: <%= h reply_users_string(message) %></li>
	<% end -%>                  
</ul>
                   
<% remote_form_for([account,TwitterStatus.new], { :html => {:class => 'actions', :id => "response_#{type}#{message.id}" },
	:complete => "$('#response_" + type + message.id.to_s + " textarea').animate({'opacity': 'toggle'},{duration: 'fast'}).text('').animate({'opacity':'toggle'},{duration: 'fast'}).parents('.tweet').removeClass('sticky').addClass('collapsed')",
	:error => "alert('message could not be posted');"}) do |f| %>
<%= f.hidden_field :in_reply_to_status_id, :id => "twitter_status_in_reply_to_status_id[#{type}#{message.id}]" %> 
	<ul>
		<li class="reply"><a href="/reply" title="Reply">Re<span>ply</span></a></li>       
		<li class="direct_message"><a href="/direct_message" title="reply with Direct Messages">D<span>irect </span>M<span>essage</span></a></li>
		<li class="re_tweet"><a href="/twitter_status/re_tweet" title="Re-Tweet">R<span>e-</span>T<span>weet</span></a></li>
	</ul>

	<fieldset class="send_response">  
		<p class="remaining">12/140</p>
		<%= f.label "text[#{type}#{message.id}]", 'Post a reply' %>         
		<%= f.text_area :text, :size => '30x5', :id => "twitter_status_text[#{type}#{message.id}]", :class => 'status_text' %>

	  <button type="submit" class="update">Send</button>
	<fieldset>
<% end -%>
</li>