<div id="<%= type %>" class="column">
	<h3><%= type.titlecase%></h3>

	<ul class="stack" id="<%= "#{type}_stack" %>">            
		<% cache(:key => "#{account.screen_name}:#{type}:#{messages.first.id}:#{messages.last.id}") do -%>
			<% messages.each do |message| -%>
				<%= render_message account, message, type %>
			<% end -%>                                                                         
		<% end -%>                                                                         
	</ul>
	<script type="text/javascript">
	Birdherd.<%= type %>_first_id = <%= messages.first.id %>
	setInterval(function() {$.ajax({
		data:'authenticity_token=' + encodeURIComponent('I1rJxVT+cVDZ+YCDkOovLVlwlukR7XWViWP6PYicyus='), 
		dataType:'script', 
		type:'get', 
		url:'/twitter_users/<%= account.id %>/<%= type %>?since_id='+Birdherd.<%= type %>_first_id
	}
	)}, 
	90 * 1000)
	</script>
</div>