<div class="message-list">
	<h2><%= h title %></h2>
	<% statuses.each do |status| %>
	<p>
		<%= image_tag status.poster.profile_image_url, :class => 'profile-image' unless status.poster.profile_image_url.blank? %>
		<strong><%= status.poster.screen_name %>:</strong> <%= status.text %></p>
	<p class="reply-link"><%= link_to "Reply", status_reply_path(account, status.id) %></p>
	<p class="birdherd-user"><%= "posted by: #{h status.birdherd_user.login}" unless status.birdherd_user.nil?%></p>
	<% end -%>
</div>