<p>You've got <%= @accounts.length %> accounts</p>

<%= link_to 'Add account', new_user_twitter_user_path %>

<ul>
	<% @accounts.each do |account| %>
		<li><%= link_to "@#{account.screen_name}", user_twitter_user_path(account) %> - Followers <%= h account.followers.length %>, Followering <%= h account.friends.length %></li>
		<% end %>
</ul>

<% if @accounts.length > 10 -%>
	<%= link_to 'Add account', new_user_twitter_user_path %>
<% end -%>