<h2><%= h @account.screen_name %></h2>

<div id="post-status">
<%= render :partial => 'twitter_statuses/brief_form', 
	:locals => {:status => @status, 
	:twitter_account => @account  } %>
</div>

<p>Friends timeline last synced <%= h @account.friends_timeline_sync_time %></p>

<%= render :partial => 'status_list', 
	:locals => { :statuses => @replies, 
	:account => @account, 
	:title => "Replies",	
	:list_id => 'replies' } %>

<%= periodically_call_remote(:url => {:controller => :replies, :action => 'index',
	:twitter_user_id => @account.id },:method => :get, :frequency => 60) %>    
	<div class="message-list">
		<h2>Direct Messages</h2>	
		<%= render :partial => 'twitter_direct_messages/direct_messages', :locals => {:direct_messages => @direct_messages} %>
		<%= periodically_call_remote( :url => direct_messages_url(@account),:method => :get, :frequency => 60) %>
	</div>
<%= render :partial => 'status_list', 
	:locals => { :statuses => @timeline, 
	:account => @account,	:title => "#{@account.screen_name}'s Timeline", 
	:list_id => 'timeline' } %>
	<%= periodically_call_remote( :url => friends_timeline_url(@account),:method => :get, :frequency => 60) %>


