<h2><%= h @account.screen_name %></h2>

<div id="post-status">
<%= render :partial => 'twitter_statuses/brief_form', :locals => {:status => @status, :twitter_account => @account} %>
</div>

<p>Friends timeline last synced <%= h @account.friends_timeline_sync_time %></p>

<%= render :partial => 'status_list', :locals => { :statuses => @timeline, :account => @account,	:title => "#{@account.screen_name}'s Timeline" } %>

<%= render :partial => 'status_list', :locals => { :statuses => @replies, :account => @account, :title => "Replies" } %>

<div id="direct_messages" class="message-list">
	<h2>Direct messages</h2>
	<% @direct_messages.each do |dm| %>
	<p><strong><%= dm.sender.screen_name %> > <%= dm.recipient.screen_name %>:</strong> <%= dm.text %></p>
	<p class="birdherd-user"><%= "posted by: #{h dm.birdherd_user.login}" unless dm.birdherd_user.nil?%></p>
	<% end -%>
</div>