<%= h @account.screen_name %>
<p>
	<strong><%=h @user.login %></strong> (<%= link_to 'Edit', edit_dashboard_path %>)
</p>

<div id="post-status">
<%= render :partial => 'twitter_statuses/brief_form', :locals => {:status => @status, :twitter_account => @account} %>
</div>

<p>Friends timeline last synced <%= h @account.friends_timeline_sync_time %></p>

<%= render :partial => 'status_list', :locals => { :statuses => @timeline, :account => @account,	:title => "#{@account.screen_name}'s Timeline" } %>

<%= render :partial => 'status_list', :locals => { :statuses => @replies, :account => @account, :title => "Replies" } %>

<div id="direct_messages" class="message-list">
	<h2>Direct messages</h2>
	<% @direct_messages.each do |tweet| %>
	<p><strong><%= tweet.sender.screen_name %>:</strong> <%= tweet.text %></p>
	<% end -%>
</div>