<%= h @account.screen_name %>
<ul>
<% @account.statuses.each do |status| -%>
<li><%= h status.text %><%= link_to 'reply', status_reply_path(@account,status) %></li>
<% end -%>
</ul>

<% if @timeline -%>
<h2>Timeline</h2>
<ul>
	<% @timeline.each do |status| -%>
	<li><%= h status.poster.screen_name unless status.poster.nil? %> <%= h status.text %></li>
	<% end -%>
</ul>
<% end -%>

<% if @replies -%>
<h2>Replies</h2>
<ul>
	<% @replies.each do |reply| -%>
	<li><%= reply.poster.screen_name unless reply.poster.nil? %> <%= h reply.text %></li>
	<% end-%>
</ul>
<% end -%>

<%= link_to 'Show statuses', twitter_user_twitter_statuses_path(@account) %>