<h2><%= h @account.screen_name %></h2>

<div id="post-status">
<%= render :partial => 'twitter_statuses/brief_form', 
	:locals => {:status => @status, 
	:twitter_account => @account  } %>
</div>

<%= render :partial => 'status_list', 
	:locals => { :statuses => @mentions, 
	:account => @account, 
	:title => "Replies",	
	:list_id => 'mentions' } %>
<%= periodic_list_update twitter_user_mentions_url(@account) %>
	
<div class="message-list">
	<h2>Direct Messages</h2>	
	<%= render :partial => 'twitter_direct_messages/direct_messages', 
	:locals => {:direct_messages => @direct_messages} %>
	<%= periodic_list_update direct_messages_url(@account) %>
</div>
	
<%= render :partial => 'status_list', 
	:locals => { :statuses => @history, 
	:account => @account,	
	:title => "#{@account.screen_name}'s History", 
	:list_id => 'history' } %>
<%= periodic_list_update history_url(@account) %>