<div id="status-update">
	<p id="feedback-link"><a href="/feedback" title="Report bugs or make suggestions">Send feedback</a></p>
	
	<% form_for([@account, @status], :id => 'status-create') do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :in_reply_to_status_id %> 
	<fieldset>
		<legend>Status update</legend>
		<%= f.label :text, 'What are you doing', :id => 'what-are-you-doing' %>
		<%= f.text_area :text, :size => '40x4' %>

		<fieldset id="status-actions">
			<div class="shorten-links">
				<label class="checkbox">Shorten links? <input type="checkbox" value="true" /></label>
				<button type="button" title="Shorten links now">now</button>
			</div>
			<button type="submit" class="update">Update</button>
		</fieldset>
	</fieldset>
	<% end -%>
	<%= observe_field :twitter_status_text,
		:frequency => 0.3,
		:function => "$('count').innerHTML = value.length; 
		if ( value.length > 140) { 
			$('charcount').setStyle({color: 'red'});
		} else { 
		 $('charcount').setStyle({color: 'inherit'});
		}" %>
	
	    
	<p id="posting-style">Keep your posting style fun and informal, encourage public conversation. Post sites you think are great.</p>

</div>

<div id="toggle-status-update" >
</div>             

<div id="columns">
	                
	<%= render :partial => 'message_list', :locals => {:type => 'mentions', :messages => @mentions, :account => @account } %>      
	<%= render :partial => 'message_list', :locals => {:type => 'direct_messages', :messages => @direct_messages, :account => @account } %>      	
	<%= render :partial => 'message_list', :locals => {:type => 'friends_timeline', :messages => @timeline, :account => @account } %>      	
	<%= render :partial => 'message_list', :locals => {:type => 'history', :messages => @history, :account => @account } %>      
         
</div>

