<h2><%= h @account.screen_name %></h2>

<div id="post-status">
<%= render :partial => 'twitter_statuses/brief_form', 
	:locals => {:status => @status, 
	:twitter_account => @account  } %>
</div>

<%= render :partial => 'message_list', 
	:locals => { :messages => @mentions, 
	:account => @account, 
	:title => "Replies",	
	:list_id => 'mentions' } %>
<%= periodic_list_update twitter_user_mentions_url(@account) %>
	                      
<%= render :partial => 'message_list',
	:locals => { :messages => @direct_messages, 
	:account => @account, 
	:title => "Direct Messages",	
	:list_id => 'direct_messages' } %>
<%= periodic_list_update direct_messages_url(@account) %>
	
<%= render :partial => 'message_list', 
	:locals => { :messages => @history, 
	:account => @account,	
	:title => "#{@account.screen_name}'s History", 
	:list_id => 'history' } %>
<%= periodic_list_update history_url(@account) %>