<%= twitter_user_profile_image(message.sender)%>  
<h4 class="sender" title="@<%= message.sender.screen_name %>"><%= twitter_user_link(message.sender) %></h4>
<p class="text"><%= auto_link(message.text) %></p>

<p class="time">posted <%= friendly_time(message.created_at) %></p>

<ul class="birdherd-info">
	<% unless message.birdherd_user.nil? -%>
		<li class="posted-by">Posted by: <%= "#{h message.birdherd_user.login} (#{message.birdherd_user.email})" %></li>
	<% end -%>
	<% unless reply_users_string(message).blank? %>
		<li class="replied-by">Replied by: <%= h reply_users_string(message) %></li>
	<% end -%>                  
</ul>
                   
<% form_for [account,message.reply], :html => {:class => 'actions'} do |f| %>
	<%= f.hidden_field :in_reply_to_status_id %> 
	<ul>
		<li class="reply"><a href="/reply">Reply</a></li>       
		<li class="direct_message"><a href="/direct_message">Message</a></li>
		<li class="re_tweet"><a href="/twitter_status/re_tweet">Re-Tweet</a></li>
	</ul>

	<fieldset class="send_response">  
		<p class="remaining">12/140</p>
		<%= f.label :text, 'Post a reply' %>         
		<%= f.text_area :text, :size => '30x5', :class => 'status_text' %>

	  <button type="submit" class="update">Send</button>
	<fieldset>
<% end -%>
