<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %> - Birdherd</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<h1>Birdherd</h1>
<!-- <%= pluralize User.logged_in.count, "user" %> currently logged in--><!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
<ul id="primary-nav">
<% if !current_user %>
<% unless controller.controller_name == 'users' && controller.action_name == 'new' -%>
	<li><%= link_to "Sign up", new_user_path %></li>
<% else -%>
	<li><%= link_to "Sign in", new_user_session_path %></li>
<% end -%>
</ul>
<% else %>
  <li><%= link_to "My Account", user_path %></li>
	<li><%= link_to "Twitter Accounts", user_twitter_users_path %></li>
  <li><%= link_to "Sign out", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
</ul>	
<p>logged in as: <strong><%=h current_user.login %></strong> (<%= link_to 'Edit', edit_user_path %>)</p>
<% end %>



<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %> <%= h @errors.join(', ') %></p>

<%= yield  %>

</body>
</html>
