<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %> - Birdherd</title>
  <%= stylesheet_link_tag 'reset-min', 'screen', :cache => true %>               
	<!--[if lt IE 8]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" charset="utf-8"><![endif]-->
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
  <%= javascript_include_tag :all, :cache => true %>
</head>
<body>

<h1>Birdherd</h1>
<ul id="primary-nav">
<% if !current_user %>
<% if controller.controller_name == 'users' && controller.action_name == 'new' -%>
	<li><%= link_to "Sign in", new_user_session_path %></li>
<% end -%>
</ul>
<% else %>
	<li class="first">Logged in as <strong><%= link_to current_user.login, edit_user_path %></strong></li>
	<li><%= link_to "Twitter Accounts", user_twitter_users_path %></li>
  <li><%= link_to "Sign out", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
</ul>
<% end %>



<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %> <%= h @errors.join(', ') %></p>

<%= yield  %>

</body>
</html>
